html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* colors */
.intro h1 {
  color: white;
  font-size: 1.5rem;
}

.intro p {
  color: white;
  font-size: 1rem;
}



header {
  background: #E0E0E0;
  width: 100%;
  padding: 5px 0px;
}

.logo {
  display: block;
  text-align: center;
  background: lightgreen;
  padding: 40px 0;
  width: 80%;
  margin: 0 auto;
}

nav {
  display: block;
  max-width: 80%;
  margin: 0 auto;
}

nav ul li {
  text-align: center;
  list-style: none;
  margin: 5px 0;
  background: yellow;
  padding: 15px;
  border: 2px solid black;
}

li a {
  text-decoration: none;
  color: #000;
  padding: 10px 30px;
}

 li:hover {
  background: lightgreen;
}

.feature-image {
  display:block;
  background-image:
linear-gradient(
rgba(205, 42, 4, 0.5),
rgba(205, 42, 4, 0.5)
),
url(../images/featurecopy.jpg);
background-size: cover;
height: 100vh;
width: 100%;
background-position: center;
position: relative;
}


.intro {
  position: absolute;
  top: 30%;
  left: 60%;
}

.introbutton {
  background: orange;
  padding: 10px;
  border: 2px solid orange;
  border-radius: 12px;
  color: black;
  text-decoration: none;
}

.description {
  max-width: 90%;
  margin: 35px auto;
  text-align: justify;
}


.about {
  max-width: 100%;
  text-align: center;
  background: lightgrey;
  padding: 80px 0;
}

.about > h2 {
  font-size: 2rem;
  padding: 20px;
}

.about > p {
  padding: 20px;
  text-align: center;

}

.aboutimage {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  padding: 20px;
}


.gallery {
  max-width: 100%;
  text-align: center;
  margin: 35px 0;
}

.gallery img {
  display: inline-block;
  width: 45%;
  margin: 5px;
}

.contact {
  background: lightgrey;
  text-align: center;
  padding: 50px;
}
form input,
form textarea {
  display: block;
  margin: 0 auto;
}

footer {
  text-align: center;
  padding: 30px;
}

@media only screen and (min-width: 768px),
       only screen and (min-width: 700px) and (orientation: landscape) {

        .logo {
          width: 100%;
        }

        nav ul li{
          display:inline-block;
          text-align: center;
          padding: 10px;
          margin-right: 25px;
        }

        nav ul {
          text-align: center;
          white-space:nowrap
        }

        .intro > p {
          font-size: 1.5rem;
        }

        .about {
          height: auto;
          overflow: auto;
        }

        .about > h2 {
        background: red;
        }
        .imagediv {
          float: left;
          width: 50%;
          height: 200px;
          margin-top: 5%;

        }

        .abouttext {
        float: right;
        width: 50%;
        height: 200px;
        padding-top: 20px;
        margin-top: 5%;
        padding-right: 20px;
        }

  
}
